<template>
  <div class='ui text container'>
    <div class="ui search">
      <div class="ui icon fluid input">
        <input
          v-on:keyup="searchStart($event.target.value)"
          class="prompt"
          type="text"
          placeholder="Поиск по городам России..."
        >
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Search',
  mounted () {
    //
  },
  data: function() {
    return {
      title: 'Поиск по городам России'
    }
  },
  watch: {
    item: {
      handler: function(data) {
        this.renderSearchResult(data);
      },
      deep:true
    }
  },
  computed: {
    ...mapGetters({
      item: 'getSearchResult',
    })
  },
  methods: {
    searchStart: function(query) {
      if (query.length < 1) return;
      this.$store.dispatch('loadSearchResult', query)
    },
    renderSearchResult: function(data) {
      //console.log(JSON.parse(data))
      let source = JSON.parse(data)
      let result = []
      for (let i = 0; i < source.length; i++) {
        result[i] = {}
        result[i]['title'] = source[i]['city']
      }
      //console.log(result)
      $('.ui.search')
        .search({
          source: result
        })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .ui.container {
    margin-top: 3em;
  }
</style>
